* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --var-color-purple: #835afd;
  --var-color-white: #fff;
  --var-color-white-background: #e9e8e8;
  --var-color-red: #ea4335;
  --var-color-gray: #a8a8b3;
}

body {
  background: var(--var-color-white-background);
  color: #29292e;
}

body,
button,
input,
textarea {
  font: 400 16px "Roboto", sans-serif;
}
