.question {
  background: #fefefe;
  border-radius: 8px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
  padding: 1.5rem;

  & + .question {
    margin-top: 0.5rem;
  }

  &.highlighted {
    background: #d5ecd4;
    border: 1px solid var(--var-color-primary);

    footer .user-info span {
      color: var(--var-color-text);
    }
  }

  &.answered {
    background: #c4c4c4;
  }

  p {
    color: var(--var-color-text);
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;

    .user-info {
      display: flex;
      align-items: center;

      img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
      }

      span {
        margin-left: 0.5rem;
        color: #737380;
        font-size: 0.875rem;
      }
    }

    .actions {
      display: flex;
      gap: 1rem;

      button {
        border: 0;
        background: transparent;
        cursor: pointer;
        transition: filter 0.2;

        &.like-button {
          display: flex;
          align-items: flex-end;
          color: #737380;
          gap: 0.5rem;

          &.liked {
            color: var(--var-color-primary);

            svg path {
              stroke: var(--var-color-primary);
            }
          }
        }

        &.active img {
          filter: saturate(65);
        }

        &:hover {
          filter: brightness(0.7);
        }
      }
    }
  }
}

.theme-dark .question {
  background: var(--var-color-input-background-dark-theme);
  border: 1px solid var(--var-color-gray);

  &.highlighted {
    background: #4d754d;
    border: 1px solid var(--var-color-primary);

    footer .user-info span {
      color: var(--var-color-text-dark-theme);
      opacity: 0.7;
    }
  }

  &.answered {
    opacity: 0.6;
  }

  p {
    color: var(--var-color-text-dark-theme);
  }

  footer {
    .user-info span {
      color: var(--var-color-text-dark-theme);
      opacity: 0.7;
    }

    .actions {
      button {
        filter: brightness(170%);

        &.like-button .liked {
          color: var(--var-color-secondary);

          svg path {
            stroke: var(--var-color-secondary);
          }
        }

        &:hover {
          filter: brightness(10);
        }
      }
    }
  }
}
