.question {
  background: #fefefe;
  border-radius: 8px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
  padding: 1.5rem;

  & + .question {
    margin-top: 0.5rem;
  }

  &.highlighted {
    background: #f4f0ff;
    border: 1px solid var(--var-color-purple);

    footer .user-info span {
      color: #29292e;
    }
  }

  &.answered {
    background: #dbdcdd;
  }

  p {
    color: #29292e;
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;

    .user-info {
      display: flex;
      align-items: center;

      img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
      }

      span {
        margin-left: 0.5rem;
        color: #737380;
        font-size: 0.875rem;
      }
    }

    .actions {
      display: flex;
      gap: 1rem;

      button {
        border: 0;
        background: transparent;
        cursor: pointer;
        transition: filter 0.2;

        &.like-button {
          display: flex;
          align-items: flex-end;
          color: #737380;
          gap: 0.5rem;

          &.liked {
            color: var(--var-color-purple);

            svg path {
              stroke: var(--var-color-purple);
            }
          }
        }

        &:hover {
          filter: brightness(0.7);
        }
      }
    }
  }
}
